body {
  font-family: Georgia, serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

.App h1 {
  text-align: center;
  background-color: rgb(230, 230, 230);
  max-width: 30%;
  margin-left: 35%;
  margin-bottom: 2%;
  }
